<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrzQTkyDjv1NtMOr0fSyzdjTuFmgGjpgA</string>
	<key>GCM_SENDER_ID</key>
	<string>94905772870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dater.dater</string>
	<key>PROJECT_ID</key>
	<string>dater-4992c</string>
	<key>STORAGE_BUCKET</key>
	<string>dater-4992c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94905772870:ios:33e68cbf6f740564cb9347</string>
</dict>
</plist>